<Page::Navigator
  @page={{hash
    title="Contact"
    subtitle="Reaching out"
    description="Here are some preferred ways to connect with me."
  }}
/>
<Hds::Separator />
<Hds::Layout::Grid
  @columnMinWidth="10%"
  {{style height="100%" grid-template-rows="min-content"}}
  as |LG|
>
  <LG.Item></LG.Item>
  <LG.Item></LG.Item>
  <LG.Item @colspan={{6}}>
    <div class="body-data-card-container">
      <Hds::Card::Container
        @level="mid"
        @levelHover="high"
        @levelActive="mid"
        @hasBorder={{true}}
      >
        <Hds::Layout::Flex @justify="center" @align="center" @gap="16" as |LF|>
          <LF.Item>
            <Hds::IconTile @icon="user" />
          </LF.Item>
          <LF.Item>
            <Hds::Text::Display @tag="h2" @size="300">
              User Contact Information
            </Hds::Text::Display>
          </LF.Item>
          <LF.Item>
            <Hds::Badge
              @text="Important Links"
              @icon="check-circle"
              @color="success"
              @size="large"
            />
          </LF.Item>
        </Hds::Layout::Flex>
        <Hds::Separator />
        <Hds::Layout::Flex @justify="center" @align="center" @gap="32" as |LF|>
          <LF.Item>
            <Hds::Button
              @isInline={{true}}
              @isIconOnly={{true}}
              @text="adam@kaewell.com"
              @color="tertiary"
              @icon="mail"
              @iconPosition="trailing"
              @href="mailto:adam@kaewell.com"
              @size="large"
            />
          </LF.Item>
          <LF.Item>
            <Hds::Button
              @isInline={{true}}
              @isIconOnly={{true}}
              @text="X.com"
              @color="tertiary"
              @icon="twitter-x"
              @iconPosition="trailing"
              @href="https://twitter.com/akaewell"
              @size="large"
            />
          </LF.Item>
          <LF.Item>
            <Hds::Button
              @isInline={{true}}
              @isIconOnly={{true}}
              @text="github"
              @color="tertiary"
              @icon="github"
              @iconPosition="trailing"
              @href="https://github.com/woodFordR"
              @size="large"
            />
          </LF.Item>
        </Hds::Layout::Flex>
      </Hds::Card::Container>
    </div>
  </LG.Item>
  <LG.Item></LG.Item>
  <LG.Item></LG.Item>
</Hds::Layout::Grid>
