<Hds::PageHeader as |PH|>
  <div class="biggest-h"><PH.Title>adam's collection of things</PH.Title></div>
  <PH.Breadcrumb>
    <Hds::Breadcrumb>
      <Hds::Breadcrumb::Item @text="project" @icon="layers" />
      <Hds::Breadcrumb::Item @text="portfolio" @icon="code" />
    </Hds::Breadcrumb>
  </PH.Breadcrumb>
  <PH.Badges>
    <Hds::Badge @text="working" @icon="rocket" @color="neutral-dark-mode" @iconPosition="trailing" />
  </PH.Badges>
</Hds::PageHeader>
<div class="container">
  <Hds::Separator />
  <Hds::Accordion as |A|>
    {{#each @model as |project|}}
      <A.Item>
        <:toggle>
          <div class="card">
            <Hds::IconTile @logo={{project.logo}} @size="large" />
            <span>{{project.title}}</span>
            <p>{{project.description}}</p>
          </div>
        </:toggle>
        <:content>
          <p>{{project.description}}</p>
          <p>repo owner: {{project.owner}}</p>
        </:content>
      </A.Item>
      <Hds::Separator />
    {{/each}}
  </Hds::Accordion>
</div>
