<Hds::PageHeader as |PH|>
  <div class="biggest-h"><PH.Title>adam's collection of things</PH.Title></div>
  <PH.Breadcrumb>
    <Hds::Breadcrumb>
      <Hds::Breadcrumb::Item @text="project" @icon="layers" />
      <Hds::Breadcrumb::Item @text="portfolio" @icon="code" />
    </Hds::Breadcrumb>
  </PH.Breadcrumb>
  <PH.Badges>
    <Hds::Badge @text="working" @icon="rocket" @color="neutral-dark-mode" @iconPosition="trailing" />
  </PH.Badges>
</Hds::PageHeader>
<div class="container">
  <Hds::Separator />
  <Hds::Accordion as |A|>
    {{#each @model as |project|}}
      <A.Item>
        <:toggle>
          <div class="card">
            <Hds::IconTile @logo={{project.logo}} @size="large" />
            <span>{{project.title}}</span>
            <span>{{project.description}}</span>
          </div>
        </:toggle>
        <:content>
          <div class="card">
            <div class="avatar"><img src="{{project.avatarPath}}" alt="avatar" /></div>
            <p>{{project.codeDescription}}</p>
            <p><a href={{project.owner}}>
              <Hds::IconTile @icon="github" @color={{project.logo}} @size="medium" />
            </a></p>
          </div>
          <Hds::CodeBlock
            @language="javascript"
            @hasCopyButton={{true}}
            @value="
var coffeeLottie = lottie.loadAnimation({
  container:coffeeSvg,
  renderer:'svg',
  loop:true,
  autoplay:true,
  path:'lottie/coffee.json'
});"
            />

          </:content>
      </A.Item>
      <Hds::Separator />
    {{/each}}
  </Hds::Accordion>
</div>
