<Hds::PageHeader as |PH|>
  <PH.Title>Portfolio</PH.Title>
  <PH.Badges>
    <Hds::Badge @text="Current Projects" @icon="database" @color="success" @type="inverted" @iconPosition="trailing" @size="large" />
  </PH.Badges>
</Hds::PageHeader>
<Hds::Separator />
<Hds::Layout::Grid @tag="ul" @columnMinWidth="50%" @gap="16" as |LG|>
    {{#each @model as |project|}}
      <LG.Item @tag="li">
        <Hds::Card::Container @level="mid" @levelHover="high" @levelActive="mid" @hasBorder={{true}}>
          <Hds::Layout::Grid @columnMinWidth="100%" @gap="8" as |LG|>
            <LG.Item>
              <Hds::Layout::Flex @align="start" @gap="16">
                <Hds::IconTile @logo={{project.logo}} @size="large" />
                <Hds::Layout::Flex @direction="column" @gap="8">
                  <Hds::Text::Display @tag="h3" @size="400">
                    {{project.title}}
                  </Hds::Text::Display>
                  {{#if project.deployLink }}
                    <LG.Item>
                      <a href={{project.deployLink}}>
                        <Hds::Badge @text="Deployed Application" @color="success" @icon="check-circle" />
                      </a>
                    </LG.Item>
                  {{else}}
                    <LG.Item>
                      <Hds::Badge @text="Still In Development" @color="warning" @icon="change-circle" />
                    </LG.Item>
                  {{/if}}
                  <Hds::Text::Body @tag="p" @size="300">
                    {{project.description}}
                  </Hds::Text::Body>
                </Hds::Layout::Flex>
              </Hds::Layout::Flex>
            </LG.Item>
          </Hds::Layout::Grid>
          <Hds::Separator />
          <Hds::CodeBlock
            @language="javascript"
            @hasCopyButton={{true}}
            @value={{project.codeSnippet}}
            @hasLineNumbers={{false}}
          as |CB|>
            <CB.Description>
              {{project.codeDescription}}
            </CB.Description>
          </Hds::CodeBlock>
        </Hds::Card::Container>
      </LG.Item>
    {{/each}}
</Hds::Layout::Grid>